// Write custom variables.

// color pallete: #FDE900, #623CEA, #F7996E, #232020, #230C33

$primary: #232020;
$secondary: blue;
$footer-color: #F2EFEA;
$footer-bg-color: blue;


// Import Boostrap SCSS.

@import "themes/littleGhost/node_modules/bootstrap/scss/bootstrap";



.nav-container {
  background-color: $secondary;
}

.nav-item a {
  color: #F2EFEA;

}

.page-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

html {
  font-size: 21px;
}

.top {
  background-color: $secondary;
  border-bottom: 1px solid $primary;

}

hr {
  color: $secondary;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F2EFEA;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h5 {
  color: $primary;
  font-family: 'Anton', sans-serif;
}

.content {
  flex-grow: 1;
}

img {
  width: 100%;
}


.post-section {
  border-top: solid 1px;
  border-color: $secondary;

/*
  border-radius: 1px;
  padding: 0;
  margin-bottom: 2em;
  background-color: $secondary;
  */

}

.post-section .post-text-content {
  padding: 1.5rem;
}

.post-section-image {
  height: 100%;
}

.taxonomy-list {
  list-style: none;
}

figcaption {
  color: grey;
  text-align: center;
}

a {
  color: $secondary;
}

 //   #FDE900, #623CEA, ##F7996E, #232020, #230C33

footer {
  background-color: $footer-bg-color;
  width: 100%;
  color: $footer-color;
  border-top: 1px solid $primary;
}

footer h5 {
  color: $footer-color;
}

footer hr {
  color: $footer-color;
}

footer a {
  color: $footer-color;
}

.footer-info {
  padding: 4rem;
  gap: 1.5rem;
}

footer img {
  border-radius: 100px;
  border: solid 1px $footer-bg-color;
  width: 100px;
  height: 100%;
}

.bio {
  color: $footer-color;
  background-color: $secondary;
  margin-bottom: 1rem;
}

.bio a {
  color: $footer-color;
}

.bio img {
  height: 100%;
}

.bio hr {
  color: $footer-color;
}

@include media-breakpoint-down(lg) {



  .bio {
    flex-direction: row;
    display: none;
  }
}



@include media-breakpoint-down(sm) {

  .footer-info {
    flex-direction: column;
  }


}
