<aside class="card bio col-lg-3 p-0 me-2">

  {{ $image := resources.Get .Site.Params.author_image }}
  <img class="card-img" src="{{ ($image.Resize "400x").RelPermalink }}" alt="Card image cap">


  <div class="card-body">
    <h5 class="card-title">{{ if isset .Params `author` }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</h5>
    <hr>
    <p class="card-text">{{ .Site.Params.author_bio }}</p>

  <div class="d-flex card-body card-social p-0">
    {{ if isset .Site.Params `email` }}<a href="mailto:{{ .Site.Params.email }}"><i class="m-2 fa fa-envelope fa-lg"></i></a>{{ end }}
    {{ if isset .Site.Params `github` }}<a href="https://github.com/{{ .Site.Params.github }}"><i class="m-2 fa fa-github fa-lg"></i></a>{{ end }}
    {{ if isset .Site.Params `twitter` }}<a href="{{ .Site.Params.twitter }}"><i class="m-2 fab fa-twitter fa-lg"></i></a>{{ end }}
    {{ if isset .Site.Params `mastodon` }}<a href="{{ .Site.Params.mastodon }}"><i class="m-2 fab fa-mastodon fa-lg"></i></a>{{ end }}

  </div>
  </div>
</aside>
