{{ define "main" }}
<div class="prose text-xl prose-a:text-indigo-600 prose-a:font-bold leading-7 mx-auto mt-8">


<h1>{{ .Title }}</h1>

{{ if isset .Params "featured_image" }}

{{ $image := .Resources.GetMatch .Params.featured_image }}
<img
    {{ with $image }}src="{{$image.Permalink }}"{{end}}
    alt="{{ .Params.featured_alt }}"
/>

{{ end }}

<div class="flex flex-row gap-4 items-center">
  <i class="fa fa-at"></i>
  <p class="my-0 text-gray-600">{{ .Site.Params.author}}</p>
</div>
  {{ if isset .Params "date"}}
  <div class="flex flex-row gap-4 items-center">
    <i class="fa fa-calendar"></i>
    <p class="my-0 text-gray-600">{{ .Date | time.Format ":date_long" }}</p>
  </div>
  {{ end }}
  {{ if isset .Params "tags"}}
  {{ with .Params.tags }}
<div class="flex flex-row gap-4 items-center">
  <i class="fa fa-tag"></i>
  {{ end }}
  {{ range .Params.tags }}
    <a class="my-0 text-gray-600" href="/tags/{{ . | urlize }}">{{ . }}</a>
  {{ end }}
</div>
{{ end }}

{{ .Content }}

</div>

{{ end }}
